body {
  background: -moz-linear-gradient(45deg, rgba(224,66,255,1) 0%, rgba(0,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(224,66,255,1)), color-stop(100%, rgba(0,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(224,66,255,1) 0%, rgba(0,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(224,66,255,1) 0%, rgba(0,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(224,66,255,1) 0%, rgba(0,255,255,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(224,66,255,1) 0%, rgba(0,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#E042FF',GradientType=1 ); /* ie6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* h1,h2,h3,h4,h5,h6 {
  
} */
.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-none {
  list-style-type: none;
}